<!doctype HTML>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>My Dakota Jane</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  </head>
    <body>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="videos.html">Videos</a></li>
        <li role="presentation"><a href="#">Games</a></li>
      </ul>
      <div class="container">
        <div class="col-xs-12">
          <h1 class="titles">Videos</h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-4">
            <iframe class="video" width="420" height="315" src="https://www.youtube.com/embed/vSYadh2xmcI" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-lg-4">
            <iframe class="video" width="420" height="315" src="https://www.youtube.com/embed/QOvIot-i6rY" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-lg-4">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/faC3XTInrgA" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row video-spacing">
          <div class="col-xs-12"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-4">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/yu44JRTIxSQ" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-lg-4">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/cyVzjoj96vs" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-lg-4">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/783EsrHchXA" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>  
      <div class="container">
        <div class="row video-spacing">
          <div class="col-xs-12"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-4">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/Py2f38iPBeI" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-lg-4">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/ZrqF7yD10Bo" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
  </head>
</html>
